{% extends 'base.html.twig' %}

{% block title %}Colifting Club - Trouver un partenaire d'entrainement {% endblock %}

{% block body %}

<div class="home-wrapper">
    <h1>Co .<br/> lifting .<br/> Club</h1>
    <p class="home-baseline">Trouver un partenaire <br/> d'entrainement en salle de sport</p>
    <div class="home-auth">
        <a href=""> Se connecter </a>
        <a href=""> S'inscrire </a>
    </div>
</div>
{% endblock %}
