<p>{% trans %} Bienvenue {% endtrans %} {{ username }},</p>

<h1>{% trans %} Merci pour votre inscription ! {% endtrans %}</h1>

<p>
    {% trans %} Prêt à trouver votre partenaire d'entrainement en salle de sport ? {% endtrans %}
</p>

<p>
    <a href="{{ signed_url }}">{% trans %} Compléter mon profil{% endtrans %}</a>
    </br>
    {% trans %} Connectez vous pour rejoindre la communauté d'adhérents de votre salle de sport ! {% endtrans %}
</p>

<p> {% trans %} Toute l'équipe Tym vous souhaites la bienvenue {% endtrans %} 
    </br>
    {% trans %} Tym est vous aide à faire vos premiers pas en salle de sport. Trouvez votre partenaire d'entrainement et intégrer la communauté d'adhérents de votre club !{% endtrans %}
<p>
    {% trans %}Vous avez une question ? n'hésitez pas à {% endtrans %}
    </br>
    <a href="{{ sender_email }}">{% trans %} nous contacter{% endtrans %}</a>
</p>