<h1>{% trans %} Merci d'avoir rejoint {% endtrans %} {{ app_name }} !</h1>

<p>
    {% trans %} Pour finaliser la création de votre compte, confirmez votre adresse e-mail en cliquant sur le lien ci-dessous : {% endtrans %}
</p>

<p>
    <a href="{{ signed_url }}">{% trans %}Vérifier mon adresse mail{% endtrans %}</a>
    </br>
    ({% trans %} Ce lien est valide jusqu'au {% endtrans %} </br> {{ expiration_date|date('F jS') }})
</p>

<p> {% trans %} Si vous avez une question, n’hésitez pas à {% endtrans %}
    <a href="{{ sender_email }}">nous contacter</a> </br> 
    {% trans %} — nous faisons à chaque fois au mieux pour répondre le plus rapidement possible.{% endtrans %}</p>
</br>
<p>Si vous rencontrez un problème pour cliquer sur le lien, copiez-collez </br> l’URL ci-dessous dans votre navigateur habituel :</p>
<p>{{ signed_url }}</p>