{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 data-controller="register" >Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.city,
            {
            'label': 'Ma ville',
            'attr' :{ 'list' : 'json-cities', 'autocomplete' : 'off', 'placeholder' : 'Rechercher une ville...' },
            })
        }}
        <datalist id="json-cities"></datalist>
        {{ form_row(registrationForm.club,
            {
            'label': 'Mon club',
            })
        }}
        {{ form_row(registrationForm.gym,
            {
            'label': 'Ma salle',
            })
        }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.birthdate) }}
        {{ form_row(registrationForm.gender) }}
        {{ form_row(registrationForm.goals) }}
        {{ form_row(registrationForm.availability) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm._token) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
