@media (min-width: 640px) {
    * {
        content: "App avalable on mobile only";
        margin: 0;
            padding: 0;
    }
}
@media (max-width: 640px) {
    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-image: url('/assets/images/colifting_home_img.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
        background-size: cover;
        background-position: 75% 50%;
    }

    h1 {
        font-family: 'Inter';
        color: white;
        text-transform: uppercase;
        font-size: 2.8em;
        position: absolute;
        right: 7%;
        top: 5%;
    }

    .home-baseline {
        color: white;
        font-size: 400;
        font-family: Inter;
        font-weight: bold;
        font-size: smaller;
        position: fixed;
        bottom: 20%;
        left: 10%;
    }

    .home-auth {
        width: 100%;
        justify-content: space-between;
        background-color: rgba(39, 39, 39, 1);
        height: 7em;
        display: flex;
        bottom: 0%;
        align-items: center;
        position: absolute;
        border-top-left-radius: 2.5em;

        a {
            color: white;
            font-family: Inter;
            font-weight: bold;
            display: flex;
            justify-content: center;
            &:nth-child(1) {
                padding-left: 15%;
                padding-right: 0%;
            }
            &:nth-child(2) {
                text-decoration: none;
                color: rgba(39, 39, 39, 1);
                background-color: rgba(248, 248, 248, 1);
                border-top-left-radius: 2.5em;
                height: 100%;
                padding-left: 15%;
                padding-right: 15%;
                display: flex;
                align-items: center;
            }
        }
    }

    /**Register form**/
    
    .register_wrapper {
        background-color: rgba(239, 239, 239, 1);
        bottom: 0%;
        position: relative;
        width: 100%;
        height: 75%;
        display: flex;
        justify-content: center;
        border-top-right-radius: 4em;
        border-top-left-radius: 4em;
        padding-top: 3em;
        margin-top: 5em;
        font-family: Inter;
        font-weight: bold;

        form {
            padding-left: 3em;
            padding-right: 3em;

            ul li {
                color: rgba(255, 85, 31, 1);
                font-size: 0.9em;
                padding-bottom: 1em;
                list-style-type: none;
            }

            #registration_form_city_help {
                font-size: 0.8em;
                padding-top: 1em;
            }

            #registration_form_save {
                padding: 1em;
                margin-top: 1em;
                margin-bottom: 1em;
                color: rgba(239, 239, 239, 1);
                font-weight: bold;
                width: 100%;
                font-size: 1.1em;
                border-top-left-radius: 2em;
                border-bottom-left-radius: 2em;
                border-top-right-radius: 2em;
                border-bottom-right-radius: 2em;
                border-color: rgba(39, 39, 39, 1);
                background-color: rgba(39, 39, 39, 1);
            }

            #registration_form_city {
                background: none;
                border: none;
                border-bottom: 2px solid black;
                padding-bottom: 0.5em;
                width: 100%;
                font-size: 1em;
                input {
                    &:focus {
                        border: none;
                    }
                }
            }

            .register_details
                div:not(#registration_form_birthdate, #registration_form_gender, #registration_form_goals) {
                    display: flex;
                    flex-direction: column;

                    label {
                        padding-bottom: 0.5em;
                        padding-top: 0.5em;
                    }

                    input {
                        padding: 0.8em;
                        border-top-left-radius: 2em;
                        border-bottom-left-radius: 2em;
                        border-top-right-radius: 2em;
                        border: none;
                        background-color: rgba(196, 196, 196, 1);
                        border-bottom-right-radius: 2em;
                    }

                    select:not(#registration_form_birthdate_month, #registration_form_birthdate_day, #registration_form_birthdate_year) {
                        background: none;
                        border: none;
                        border-bottom: 2px solid black;
                        padding-bottom: 0.5em;
                        width: 100%;
                        font-size: 1em;
                        input {
                            &:focus {
                                border: none;
                            }
                        }
                    }

                    #registration_form_birthdate {
                        display: flex;
                        justify-content: space-between;

                        select {
                            width: 30%;
                        }
                    }

                    #registration_form_goals {
                        display: flex;
                        flex-direction: column;
                    }

                    #registration_form_gender label {
                        margin-left: 0.5em;
                        margin-right: 0.5em;
                    }


                    #registration_form_plainPassword_first_help {
                        font-size: 0.8em;
                        color: gray;
                    }

                    #registration_form_submit {
                        padding: 1em;
                        margin-top: 1em;
                        margin-bottom: 1em;
                        color: rgb(239, 239, 239);
                        font-weight: bold;
                        width: 100%;
                        font-size: 1.1em;
                        border-top-left-radius: 2em;
                        border-bottom-left-radius: 2em;
                        border-top-right-radius: 2em;
                        border-bottom-right-radius: 2em;
                        border-color: rgb(39, 39, 39);
                        background-color: rgb(39, 39, 39);
                    }
                }
            }
    }
}
